[submodule ".emacs.d/web-mode"]
	path = .emacs.d/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/pkgbuild-mode"]
	path = pkgbuild-mode
	url = https://github.com/juergenhoetzel/pkgbuild-mode.git
[submodule "pkgbuild-mode"]
	path = .emacs.d/pkgbuild-mode
	url = https://github.com/juergenhoetzel/pkgbuild-mode.git
