# Ignore all files
# Add dotfiles using "git add -f <dotfile>"
# or with the necessary alias - "config add -f <dotfile>"
*

# Track folders that ONLY have files that need to be tracked
# (prevents me from forgetting to add them to the repo)
# My custom scripts
!bin
!bin/*
# My Emacs multi-configuration files
!.emacs.d/lisp
!.emacs.d/lisp/*
