! Terminal settings for terminals that use Xresources
! I disable bright colors, as my base16 colors screw them up,
! and I disable scrollback as that function belongs to a terminal multiplexer
URxvt.intensityStyles: false
URxvt.saveLines:       0
URxvt.scrollBar:       false
URxvt.font:            xft:DejaVu Sans Mono:size=10:antialias=true

xterm*boldColors:      false
xterm*saveLines:       0
xterm*scrollBar:       false
xterm.vt100.faceName:  xft:DejaVu Sans Mono:size=10:antialias=true
xterm.vt100.font:      fixed

! Other general settings
*font:                 -*-dejavu sans mono-medium-r-*--*-100-*-*-*-*-iso10646-1
*geometry:             100x20

#include ".Xresources.d/theme"
