URxvt.intensityStyles: false
URxvt.saveLines:       0      ! This function belongs to tmux
URxvt.scrollBar:       false  ! This function belongs to tmux
URxvt.font:            xft:DejaVu Sans Mono:size=10:antialias=true
*font:                 DejaVu Sans Mono-10
*geometry:             100x20

#include ".Xresources.d/theme"
