#!/bin/sh

# Settings that are common to all window-managers I use

[ -f $HOME/.Xresources ] && xrdb $HOME/.Xresources

# Load any system X configs if present
if [ -d /etc/X11/xinit/xinitrc.d ] ; then
  for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
    [ -x $f ] && . $f
  done
  unset f
fi

# Explicity set cursor for window managers that don't set it
# (xmonad, and maybe dwm)
xsetroot -cursor_name left_ptr

# Configure Wacom tablet if connected.
$HOME/bin/setupwacom.sh

# Autostart scripts and applications
sxhkd &              # Common custom keybindings
$HOME/.fehbg         # Set desktop background
nm-applet &
udiskie --tray &
sleep 10 && insync start & # Delay is required to get systray icon working with polybar
numlockx &
#picom &             # Window compositor, havig issues with fading
dunst &              # Notification server
emacs --daemon  &
autorandr --change & # Automatic monitor configuration
blueman-applet &
lxpolkit &

# DPMS preferences
# Explicitly set brightness to counter a bug with my laptop
# (on each boot or login, the brightness decreases by one point)
brightnessctl set 40%
# Blank screen after 30 minutes
xset s 1800
xset dpms 1800 1800 1800
